# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#MacOsX
.DS_Store

Debug/makefile

#eclipse
.settings/**
Debug/**
.project
.cproject
*.mk
*.d
